/*CV Piotr Kuderski, Lab Week 6
8/11/2022
Bootstrap */
BODY{
	background-color:#E9E9E9;
	text-align:left;
	color:black;
}
h1{
	text-transform: uppercase;
	text-align: center;
}

h2{
	text-transform: uppercase;
	text-align: left;
}

/* THIS FRAGMENT HAS NOT BEEN APPLIED BUT IS HELPFUL IN TESTING
.show{
	background-color: white;
	color:black;
}
.row{
	marigin-top:50px;
	min-height:;
	justify-content:space-between;
}*/
.separation{
	padding:20px;
	
}




/*BELOW THERE IS CSS USED IN LAB IN WEEK 3. THIS IS COMMENTED-OUT AT THIS JUNCTURE. PLEASE IGNORE IT. THIS IS TO BE USED IN CASE SOME OF THE CSS NEEDS TO BE REVERTED AT A LATER STAGE.*/
/* @media(min-width:800px){ 
	.interests{
      display:flex;  
	  border:1px #ccc solid;
	  padding:10px;
      justify-content:left;
	  justify-content:space-between;
	  
    
}
}
h1{
	text-transform: uppercase;
	text-align: center;
}

h2{
	text-transform: uppercase;
	text-align: left;
}
	
h3{
	text-align: left;
}


.personalData{
    }
	
.education{
}
	
.professionalExperience{ 
}

.skills{
      display:flex;
	  flex-wrap:wrap;
	  justify-content:space-between; 
}

.row-1{
	display:flex;
	flex-direction: row;
    }
	
.row-2{
      	display:flex;
		flex-direction: row;
    }


    
  
 .row-1 div{
    border:1px #ccc solid;
    padding:10px; 
  }
  
.box-1{
	flex:1;
	order:1;
}

.box-2{
	flex:2;
	order:2;
}
 
.box-3{
	flex:2;
	order:3;
} 

.box-i{
	display:flex;
	border:1px grey solid;
	flex-basis: 15%;
	flex-wrap:wrap;
	
} 
.box-s{
	display:flex;
	flex-wrap:wrap;
	flex-basis:10%;
	border:1px grey solid;
} */
